<% raise 'locals not defined' unless defined?(match) && match %>
<table class="table table-condensed<%= (' ' + extra_table_classes.join(' ')) if defined?(extra_table_classes) && !extra_table_classes.empty? %>">
  <% if defined?(caption) %>
      <caption>
        <%= caption %>
      </caption>
  <% end %>
  <thead>
  <tr>
    <% if match.is_finished? %>
        <th></th>
        <th></th>
        <th>votes</th>
        <th>%&nbsp;share</th>
        <th></th>
    <% else %>
        <th></th>
        <th></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% if match.is_finished? %>
      <% match.match_entries.with_rank.ordered_by_votes.collect {|r| [r[:rank].to_i, r]}.each do |rank, me| %>
          <% first = (rank == 1) %>
          <tr>
            <td style="width: 50px;"><%= image_tag((me.avatar ? me.avatar.url(:thumb) : 'avatar-defaults/default-thumb.png'), size: '40x40') %></td>
            <td<%= " style=\"font-weight: bold;\"".html_safe if first %>><%= rank.ordinalize %></td>
            <td<%= " style=\"font-weight: bold;\"".html_safe if first %>><%= me.number_of_votes.to_s %></td>
            <td<%= " style=\"font-weight: bold;\"".html_safe if first %>><%= format_percent me.vote_share %></td>
            <td<%= " style=\"font-weight: bold;\"".html_safe if first %>>
              <%= link_to me.character_name, character_path(me.character) %><br />
              <span class="table-series"><%= link_to me.series.name, series_path(me.series) %></span>
            </td>
          </tr>
      <% end %>
  <% else %>
      <% match.match_entries.ordered_by_position.each do |me| %>
          <tr>
            <td style="width: 50px;"><%= image_tag((me.avatar ? me.avatar.url(:thumb) : 'avatar-defaults/default-thumb.png'), size: '40x40') %></td>
            <% if me.character && me.series %>
                <td>
                  <%= link_to me.character_name, character_path(me.character) %><br />
                  <span class="table-series"><%= link_to me.series.name, series_path(me.series) %></span>
                </td>
            <% else %>
                <td>Winner of <%= pretty_match me.previous_match %></td>
            <% end %>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
