<% raise ArgumentError, "locals not defined" unless stage && match && current_match_entry %>
<button class="button-popover btn <%= button_type_for(current_match_entry) %>" data-original-title="<%= pretty_match(match) %>">
  <%= pretty_stage(stage) %>
</button>
<div class="button-popover-content" style="display: none;">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th></th>
        <th>votes</th>
        <th>%&nbsp;share</th>
      </tr>
    </thead>
    <tbody>
      <% match.match_entries.ordered_by_votes.each do |me| %>
        <% is_current = (me == current_match_entry) %>
        <tr>
          <td><%= content_tag(is_current ? :strong : :p) { me.character_name } %></td>
          <td><%= content_tag(is_current ? :strong : :p) { me.number_of_votes.to_s } %></td>
          <td><%= content_tag(is_current ? :strong : :p) { format_percent(me.vote_share) } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>