<% raise 'locals not defined' unless defined?(stage_matches) && defined?(group) && defined?(columns) %>
<% right = defined?(right_align) && right_align %>

<div class="tournament_group<%= ' right' if right %>" style="min-width: <%= 240 + columns*86 %>px;">
  <% not_rendered_names = true %>
  <% stage_matches.each do |stage, matches| %>
      <% if not_rendered_names %>
          <div class="entry_container<%= ' right' if right %>">
            <div class="group_name<%= ' right' if right %>">
              <p>
                <%= pretty_group group %>
              </p>
            </div>
            <div class="cb"></div>
            <% matches.each do |match| %>
                <% match.match_entries.ordered_by_position.each do |me| %>
                    <% transparent = @group_matches_in_progress && !me.appearance.match_entries.where(is_finished: true).all?(&:is_winner?) %>
                    <%#= character_entry me, show_color: true,
                                            show_votes: false,
                                            right_align: right,
                                            fade_out: @group_matches_in_progress && !me.appearance.match_entries.where(is_finished: true).all?(&:is_winner?) %>
                    <%= CharacterEntry.new(me).with(show_color: true,
                                                    show_votes: false,
                                                    right_align: right,
                                                    transparency: transparent).render %>
                <% end %>
            <% end %>
          </div>
          <% not_rendered_names = false %>
      <% end %>
      <div class="stage_container<%= ' right' if right %>">
        <div class="stage_name<%= ' right' if right %>">
          <p>
            <%= pretty_stage stage %>
          </p>
        </div>
        <div class="cb"></div>
        <div class="matches_container<%= ' right' if right %>">
          <% matches.each do |match| %>
              <% match.match_entries.ordered_by_position.each do |me| %>
                  <%= match_entry_votes_box match, me %>
                  <div class="cb"></div>
              <% end %>
          <% end %>
        </div>
        <div class="matches_container<%= ' right' if right %>">
          <% matches.each do |match| %>
              <%= match_date_box match %>
              <div class="cb"></div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
