<div class="well">
  <p>
    This site aims to bring together facts and figures about the current and previous iterations of the <em>Anime Saimoe Tournament</em>&mdash;a competition to find the most moe character of the year, organised by users of Japanese message board <%= link_to '2ch', 'http://www.2ch.net' %>.
  </p>
  <p>
    This is not the official Saimoe site, nor is it responsible for the running of the tournament. The official Saimoe 2013 site is <%= link_to 'here', 'http://acst13.saimoe.me/' %>, but is in Japanese only. Many thanks to Anonymous of the <%= link_to 'unofficial English Saimoe site', 'http://www.animesaimoe.org' %>, from which all of the data on this site is collected.
  </p>
  <p>
    <strong>Update 2013-08-07:</strong>
  </p>
  <p>
    The site has undergone a bit of a refresh in time for the 2013 tournament proper. Expect more features and statistics throughout this year's tournament.
  </p>
  <p>
    The preliminary rounds to decide who qualifies for the tournament are happening at the moment, and will continue until 2013-08-16. See <%= link_to 'animesaimoe.org', 'http://www.animesaimoe.org/' %> for information on who's qualified so far and how to take part.
  </p>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6 home-match-container">
      <% if @most_recent_view_models.any? %>
        <div class="page-header">
          <h3>Most Recent <%= 'Result'.pluralize(@most_recent_view_models.size) %></h3>
        </div>
        <%= render partial: 'view_models/match',
                   collection: @most_recent_view_models,
                   as: :vm %>
      <% end %>
    </div>
    <div class="span6 home-match-container">
      <% if @todays_match_view_models %>
        <div class="page-header">
          <h3>Today's <%= 'Match'.pluralize(@todays_match_view_models.size) %></h3>
        </div>
        <%= render partial: 'view_models/match',
                   collection: @todays_match_view_models,
                   as: :vm %>
      <% elsif @next_match_date %>
        <div class="page-header">
          <h3>Coming Up</h3>
        </div>
        <h4>Next match on <%= @next_match_date.to_s(:long) %></h4>
      <% end %>
    </div>
  </div>
</div>

<div class="cb"></div>

<hr />

<% if @tournament_view_model %>
  <%= render partial: 'view_models/tournament',
             object: @tournament_view_model,
             as: :vm %>
<% end %>