<html>

<head>
<style type="text/css">

table.layout { }
td.layout { padding: 20 }
table.bracket { background-color: #ffffff }

td.ranking { padding: 1; text-align: center; width: 30 }
td.votes { padding: 1; text-align: center; width: 35 }
td.topcontestant { padding: 1; text-align: left; max-height: 40; width: 250 }
td.contestant { padding: 1; text-align: left; max-height: 40; width: 280 }
td.lowercontestant { padding: 1; text-align: left; max-height: 40; width: 354 }
td.bigpic { height: 100; width: 100; padding: 0 }
td.pic { height: 70; width: 70; padding: 0 }


.position { font-size: 14; font-weight: bold; font-family: Chaparral Pro }
.votecount { font-size: 14; font-weight: bold; font-family: Chaparral Pro }
.lowerposition { font-size: 14; font-family: Chaparral Pro }
.lowervotecount { font-size: 14; font-family: Chaparral Pro }
.topcontestantname { font-size: 30; font-family: Chaparral Pro }
.contestantname { font-size: 24; font-family: Chaparral Pro }
.topseriesname { font-size: 20; font-style: italic; font-family: Chaparral Pro }
.seriesname { font-size: 15; font-style: italic; font-family: Chaparral Pro }
.topvoiceactor { font-size: 16; font-family: Chaparral Pro }
.voiceactor { font-size: 14; font-family: Chaparral Pro }

.lowerdetails { font-size: 14; font-family: Chaparral Pro }

</style>
</head>

<body bgcolor="#ffff99">

<% if results %>
    <table class="bracket" border="1">
        <tr>
            <td bgcolor="#e04241" class="ranking"><div class="position"><%= results[0][:ranking] %></div></td>
            <td bgcolor="#e04241" class="votes"><div class="votecount"><%= results[0][:vote_count] %></div></td>
            <td bgcolor="#e04241" class="topcontestant">
                <div class="topcontestantname"><%= results[0][:name] %></div><div class="topseriesname"><%= results[0][:series] %></div><div class="topvoiceactor">Voice Actor: </div>
            </td>
            <td class="bigpic"><img src="Round One/<%= results[0][:name] %>.jpg" /></td>
        </tr>
        
    </table>

    <br>

    <table class="bracket" border="1">
        <% cut_off_index = results.rindex {|r| r[:ranking] == results[11][:ranking] } %>
        <% colours = %w(#ee681e #fd8c00 #fec528 #fffe51 #ebf567 #d7ed7d #aedda9 #8bc9bf #44a1ea #218cff #6fa0f4 #bdb5e8 #fba9c1) %>

        <% results[1..cut_off_index].each do |r| %>
            <tr>
                <% colour = colours.shift %>
                <td bgcolor="<%= colour %>" class="ranking"><div class="position"><%= r[:ranking] %></div></td>
                <td bgcolor="<%= colour %>" class="votes"><div class="votecount"><%= r[:vote_count] %></div></td>
                <td bgcolor="<%= colour %>" class="contestant">
                <div class="contestantname"><%= r[:name] %></div><div class="seriesname"><%= r[:series] %></div><div class="voiceactor">Voice Actor: </div>
            </td>
            <td class="pic"><img src="Prelim Chart Icons/<%= r[:name] %>.jpg" /></td>
            </tr>
        <% end %>
    </table>

    <br>

    <table class="bracket" border="1">
        <% results[(cut_off_index+1)..-1].each do |r| %>
            <tr>
                <td bgcolor="#cccccc" class="ranking"><div class="lowerposition"><%= r[:ranking] %></div></td>
                <td bgcolor="#cccccc" class="votes"><div class="lowervotecount"><%= r[:vote_count] %></div></td>
                <td bgcolor="#cccccc" class="lowercontestant"><div class="lowerdetails"><%= "#{r[:name]} @ #{r[:series]}" %></div></td>
            </tr>
        <% end %>
    </table>
<% end %>

<br /><br /><br />

<% if result_list %>
    <%= result_list %>
<% end %>

</body>
</html>
