<% cache vm.dependencies do %>
    <div class="<%= vm.main_div_class %>" style="<%= vm.main_div_style %>" <%= 'itemprop="performer" itemscope itemtype="http://schema.org/Person"'.html_safe if vm.schema_markup %>>
        <%= vm.avatar_div %>
        <%= vm.stats_div %>
        <%= vm.character_div %>
        <%= vm.series_div %>
        <div class="cb"></div>
    </div>
<% end %>