<% cache vm do %>
    <div class="<%= vm.main_div_class %>" style="<%= vm.main_div_style %>">
        <%= vm.avatar_div %>
        <%= vm.stats_div %>
        <%= vm.character_div %>
        <%= vm.series_div %>
        <div class="cb"></div>
    </div>
<% end %>