<% cache vm.dependencies do %>
    <div class="group-view-model">
        <% vm.render_group_stages.each do |r| %>
            <div class="group-view-model-stage">
                <h4><%= r[:stage] %></h4>
                <div class="cb"></div>
                <% if r[:match_view_models] %>
                    <% r[:match_view_models].each do |match_view_model| %>
                        <%= render partial: 'view_models/match',
                                   object: match_view_model,
                                   as: :vm %>
                        <div class="cb"></div>
                    <% end %>
                <% elsif r[:linked_match] %>
                    <%= link_to date_path(r[:linked_match].date.to_s(:number)) do %>
                        <%= r[:linked_match].pretty %> (<%= r[:linked_match].date.to_s(:month_day) %>)
                    <% end %>
                <% end %>
            </div>
        <% end %>
    </div>
<% end %>
