<% cache vm.dependencies do %>
    <div class="single-tournament-history-view-model">
        <dt>
            <%= vm.tournament.year %>
        </dt>
        <dd>
            <div class="btn-group">
                <% vm.visible_stages.each do |stage| %>
                    <button class="btn <%= vm.button_class(stage) %>"
                        rel="html_named_popover_<%= vm.popover_name(stage) %>"
                        data-trigger="hover click"
                        data-placement="top">
                        <%= MatchInfo.pretty_stage(stage) %>
                    </button>
                <% end %>
            </div>
            <% vm.participated_stages.each do |stage| %>
                <div rel="html_named_popover_<%= vm.popover_name(stage) %>_content">
                    <% if vm.single_match_popover_view_model(stage) %>
                        <%= render partial: 'view_models/match',
                                   object: vm.single_match_popover_view_model(stage),
                                   as: :vm %>
                    <% elsif vm.multiple_matches_popover_view_model(stage) %>
                        <%= render partial: 'view_models/winners_losers_popover',
                                   object: vm.multiple_matches_popover_view_model(stage),
                                   as: :vm %>
                    <% end %>
                </div>
            <% end %>
        </dd>
    </div>
<% end %>