<% series = @character.main_series %>

<div class="row-fluid">
  <% if @character.avatar? %>
    <div class="span2" style="text-align: center; margin: 10px 0;">
      <%= image_tag @character.avatar_url, size: '100x100' %>
    </div>
    <div class="span10">
  <% else %>
    <div class="span12">
  <% end %>
      <h2><%= @character.full_name %></h2>
      <h4><em><%= link_to @character.main_series.name, series_path(@character.main_series) %></em></h4>
      <%= format_other_series_list @character %>
      <%= format_voice_actor_list @character %>
    </div>
</div>

<div class="page-header"<%= " style=\"border-bottom: 1px solid ##{series.color_code}\"".html_safe if series.color_code %>>
  <h2>Tournament History</h2>
</div>

<%= @tournament_history_view_model.render %>

<div class="form-actions">
  <%= link_to 'Character index', characters_path, class: 'btn' %>
</div>
