<% series = @character.main_series %>

<div class="row-fluid">
  <% if @character.avatar? %>
    <div class="span2" style="text-align: center;">
      <%= image_tag @character.avatar_url, size: '100x100' %>
    </div>
    <div class="span9 offset1">
  <% else %>
    <div class="span12">
  <% end %>
      <h1><%= @character.full_name %></h1>
      <h3><em><%= link_to @character.main_series.name, series_path(@character.main_series) %></em></h3>
      <%= format_other_series_list @character %>
      <p></p>
      <%= format_voice_actor_list @character %>
    </div>
</div>

<div class="page-header"<%= " style=\"border-bottom: 1px solid ##{series.color_code}\"".html_safe if series.color_code %>>
  <h2>Tournament History</h2>
</div>

<dl class="dl-horizontal">
  <% @character.tournament_history.each do |t, th| %>
    <dt>
      <h3><%= t.year %></h3>
    </dt>
    <dd>
      <%= format_character_tournament_buttons t, th %>
    </dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to 'Character index', characters_path, class: 'btn' %>
</div>
