<div class="page-header">
  <h1><%= @date.to_s :long %></h1>
</div>

<% @matches.each do |match| %>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span6">
          <% caption = content_tag(:h3) do %>
              <%= pretty_match match %>
              <% if match.is_finished? %>
                  <small>
                    (<%= match.number_of_votes %> votes total)
                  </small>
              <% end %>
          <% end %>
          <%= render partial: 'shared/classified_match', locals: {match: match,
                                                                  extra_table_classes: %w(match_date),
                                                                  caption: caption} %>
        </div>
        <div class="span6">
          <%# Other stuff about the match here - like graphs %>
        </div>
      </div>
    </div>
<% end %>

<ul class="pager form-actions">
  <% if (before = Match.date_before(@date)) %>
      <li class="previous">
        <%= link_to "← #{before.to_s(:long)}", date_path(before.to_s(:number)) %>
      </li>
  <% end %>
  <% if (after = Match.date_after(@date)) %>
      <li class="next">
        <%= link_to "#{after.to_s(:long)} →", date_path(after.to_s(:number)) %>
      </li>
<% end %>
</ul>