<% content_for :title do -%>
  Matches for <%= @date.to_s :long %> | 
<% end -%>
<div class="page-header">
  <h1><%= @date.to_s :long %></h1>
</div>

<%= render partial: 'view_models/date_match',
           collection: @date_match_view_models,
           as: :vm %>

<ul class="pager form-actions">
  <% if (before = Match.date_before(@date)) %>
      <li class="previous">
        <%= link_to "← #{before.to_s(:long)}", date_path(before.to_s(:number)) %>
      </li>
  <% end %>
  <% if (after = Match.date_after(@date)) %>
      <li class="next">
        <%= link_to "#{after.to_s(:long)} →", date_path(after.to_s(:number)) %>
      </li>
<% end %>
</ul>