<% content_for :title do -%>
  Voice Actors | Saimoe
<% end -%>
<div class="page-header">
  <div class="row-fluid">
    <div class="span12">
      <h1>Voice Actors</h1>
    </div>
  </div>
</div>

<% cache do %>
  <%= render partial: "shared/alpha_pagination",
             locals: {active_letters: @ap.active_letters} %>

  <div class="row-fluid">
    <% @ap.get_data.each do |l_data| %>
      <div class="span<%= 12 / @ap.real_no_of_columns %>">
        <% l_data.each do |letter, va_data| %>
          <h3><a name="<%= letter %>" class="anchor"><%= letter %></a></h3>
          <div class="well">
            <% va_data.each do |voice_actor| %>
              <p><%= link_to(voice_actor.full_name, voice_actor_path(voice_actor)) %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
