<div class="row-fluid">
  <div class="span12">
    <h1><%= @voice_actor.full_name %></h1>
  </div>
</div>

<div class="page-header">
  <h2>Characters</h2>
</div>

<div class="well">
  <div class="row-fluid">
    <% @chars.each do |char_arr| %>
      <div class="span3">
        <%= render partial: 'view_models/character_entry',
                   collection: char_arr,
                   as: :vm %>
      </div>
    <% end %>
  </div>
</div>

<div class="page-header">
  <h2>Statistics</h2>
</div>

<% number_of_stats_columns = [@win_stats, @appearance_stats, @vote_stats].reject {|s| s.empty? }.size %>

<div class="row-fluid">
  <% unless @win_stats.empty? %>
    <div class="span<%= 12 / number_of_stats_columns %>">
      <h4>
        Total match wins<br />
        <small>(<%= link_to 'See all', statistics_voice_actors_by_match_wins_path %>)</small>
      </h4>
      <%= render partial: 'view_models/statistics_list',
                 object: @win_stats,
                 as: :vm %>
    </div>
  <% end %>
  <% unless @appearance_stats.empty? %>
    <div class="span<%= 12 / number_of_stats_columns %>">
      <h4>
        Total matches participated in<br />
        <small>(<%= link_to 'See all', statistics_voice_actors_by_match_appearances_path %>)</small>
      </h4>
      <%= render partial: 'view_models/statistics_list',
                 object: @appearance_stats,
                 as: :vm %>
    </div>
  <% end %>
  <% unless @vote_stats.empty? %>
    <div class="span<%= 12 / number_of_stats_columns %>">
      <h4>
        Total votes<br />
        <small>(<%= link_to 'See all', statistics_voice_actors_by_total_votes_path %>)</small>
      </h4>
      <%= render partial: 'view_models/statistics_list',
                 object: @vote_stats,
                 as: :vm %>
    </div>
  <% end %>
</div>

<div class="page-header">
  <h2>Tournament History</h2>
</div>

<%= render partial: 'view_models/tournament_history',
           object: @tournament_history_view_model,
           as: :vm %>

<div class="form-actions">
  <%= link_to 'Voice actor index', voice_actors_path, class: :btn  %>
</div>
