<div class="row-fluid">
  <div class="span12">
    <h1><%= @voice_actor.full_name %></h1>
  </div>
</div>

<div class="page-header">
  <h2>Characters</h2>
</div>

<div class="well">
  <div class="row-fluid">
    <% @chars.each do |char_arr| %>
      <div class="span3">
        <% char_arr.each do |character| %>
          <%= character_entry character, fixed_width: false %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="page-header">
  <h2>Tournament History</h2>
</div>

<dl class="dl-horizontal">
  <% @voice_actor.tournament_history.each do |t, th| %>
    <dt>
      <h3><%= t.year %></h3>
    </dt>
    <dd>
      <%= format_history_tournament_buttons t, th %>
    </dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to 'Voice actor index', voice_actors_path, class: :btn  %>
</div>
