<%- model_class = @voice_actor.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:first_name) %>:</strong><br>
  <%= @voice_actor.first_name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:last_name) %>:</strong><br>
  <%= @voice_actor.last_name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:slug) %>:</strong><br>
  <%= @voice_actor.slug %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              voice_actors_path, :class => 'btn'  %>
  <%#%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_voice_actor_path(@voice_actor), :class => 'btn' %>
  <%#%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              voice_actor_path(@voice_actor),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
