<div class="page-header">
  <h1>Utilities</h1>
</div>

<%= form_for :info, html: {class: 'form-horizontal'} do |f| -%>
  <div class="row-fluid">
    <div class="span6">
      <h2>Characters</h2>
      <h4>In format <em>Japanese Character Name*, English Character Name*, Character code, Voice actor, Voice actor code, Preliminary ranking, Previous best, Round 1 vote rank, Round 1 votes, Round 1 percentage rank, Round 1 percentage, Round 2 vote rank, Round 2 votes, Round 2 percentage rank, Round 2 percentage, Round 3 vote rank, Round 3 votes, Round 3 percentage rank, Round 3 percentage, Round 4 vote rank, Round 4 votes, Round 4 percentage rank, Round 4 percentage, Playoff votes, Total votes rank, Total votes, Nickname, Defeated 1, Defeated 2, ...</em> - one per line</h4>
      <small>*: Required field</small>
      <br />
      <%= f.file_field :character_csv %>
    </div>
    <div class="span6">
      <h2>Series</h2>
      <h4>In format <em>Japanese Series Name*, English Series Name*, Colour code, Series code</em> - one per line</h4>
      <small>*: Required field</small>
      <br />
      <%= f.file_field :series_csv %>
    </div>
  </div>

  <h2>Text to transform</h2>
  <div class="well">
    <h4>
      <%= f.radio_button :transform, :name_list, checked: true %>
      <%= f.label :transform_name_list do %>
        Convert list of names in either format: <em>一次予選XX組 JP Name＠JP Series</em> or <em>&lt;&lt;JP Name＠JP Series&gt;&gt;</em> - one per line<br />
        <small>(Non-matching lines will be treated as match delimiters.)</small>
      <% end %>
    </h4>
    <h4>
      <%= f.check_box :name_order_by_name %>
      <%= f.label :name_order_by_name, 'Order by name' %>
    </h4>
    <h4>
      <%= f.check_box :name_second_prelim_matches %>
      <%= f.label :name_second_prelim_matches, 'Generate second prelim match template' %>
    </h4>
    <h4>
      <%= f.check_box :name_round_1_matches %>
      <%= f.label :name_round_1_matches, 'Generate Round 1 match template' %>
    </h4>
    <h4>
      <%= f.check_box :name_round_2_matches %>
      <%= f.label :name_round_2_matches, 'Generate Round 2 match templates' %>
    </h4>
    <h4>
      <%= f.check_box :name_round_3_matches %>
      <%= f.label :name_round_3_matches, 'Generate Round 3 match templates' %>
    </h4>
    <h4>
      <%= f.check_box :name_round_4_matches %>
      <%= f.label :name_round_4_matches, 'Generate Round 4 match templates' %>
    </h4>
    <h4>
      <%= f.check_box :name_playoff_round_1_matches %>
      <%= f.label :name_playoff_round_1_matches, 'Generate Losers Playoff Round 1 templates' %>
    </h4>
    <h4>
      <%= f.check_box :name_playoff_round_2_matches %>
      <%= f.label :name_playoff_round_2_matches, 'Generate Losers Playoff Round 2 templates' %>
    </h4>
    <h4>
      <%= f.check_box :name_playoff_round_3_matches %>
      <%= f.label :name_playoff_round_3_matches, 'Generate Losers Playoff Round 3 templates' %>
    </h4>
    <h4>
      <%= f.check_box :name_round_5_matches %>
      <%= f.label :name_round_5_matches, 'Generate Round 5 match templates' %>
    </h4>
    <%= f.file_field :name_csv %>
  </div>
  <div class="well">
    <h4>
      <%= f.radio_button :transform, :result_list %>
      <%= f.label :transform_result_list do %>
        Convert list of results in format <em>1位　427票　JP Name＠JP Series</em> - one per line<br />
        <small>(Non-matching lines will be treated as match delimiters.)</small>
      <% end %>
    </h4>
    <h4>
      <%= f.check_box :result_show_percent %>
      <%= f.label :result_show_percent, 'Show vote percentages in list output' %>
    </h4>
    <h4>
      <%= f.check_box :result_first_prelim %>
      <%= f.label :result_first_prelim, 'Generate first prelim results template' %>
    </h4>
    <h4>
      <%= f.check_box :result_second_prelim %>
      <%= f.label :result_second_prelim, 'Generate second prelim results template' %>
    </h4>
    <%= f.file_field :result_csv %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end -%>

<div class="page-header">
  <h2>Clear cache</h2>
</div>

<div class="well">
  <p>Clicking here will force a reload of the information on the tournament screens.</p>
  <p><%= link_to "Clear the cache", admin_clear_cache_path, class: 'btn btn-warning' %></p>
</div>
