<html>

<head>
<style type="text/css">

table.layout { }
td.layout { padding: 20 }
table.bracket { background-color: #ffffff }

td.leftpic { height: 150; width: 150; padding: 0 }
td.leftcontestant { padding: 1; text-align: left; max-height: 40; width: 295 }
td.eventtitle { padding: 1; text-align: center; max-height: 40; width: 400 }
td.event { padding: 1; text-align: left; max-height: 40; width: 400 }
td.year { padding: 1; text-align: center; max-height: 40; width: 40 }
td.history { padding: 1; text-align: left; max-height: 40; width: 398 }


.contestantname { font-size: 24; font-family: Chaparral Pro }
.seriesname { font-size: 15; font-style: italic; font-family: Chaparral Pro }
.voiceactor { font-size: 13; font-family: Chaparral Pro }
.preliminaryranking { font-size: 13; font-family: Chaparral Pro }
.firstroundranking { font-size: 13; font-family: Chaparral Pro }
.defeated { font-size: 13; font-family: Chaparral Pro }
.previousbest { font-size: 13; font-family: Chaparral Pro }
.code { font-size: 9; text-align: right; font-family: Chaparral Pro }
.title { font-size: 14; font-weight: bold; font-family: Chaparral Pro }
.words { font-size: 14; font-family: Chaparral Pro }
.date { font-size: 14; font-weight: bold; font-family: Chaparral Pro }
.shortname { }
.win { font-weight: bold }

</style>
</head>

<body bgcolor="#ffff99">

<% names.each do |match| %>
    <table class="bracket" border="1">
        <% match.each do |r| %>
            <tr>
                <td class="leftpic"><img src="Round Two/<%= r[:name] %>.jpg" /></td>
                <td bgcolor="#<%= r[:series_color] && r[:series_color].sub(/\A#/, '') %>" class="leftcontestant">
                    <div class="contestantname"><%= r[:name] %></div><div class="seriesname"><%= r[:series] %></div><div class="voiceactor">Voice Actor: <%= r[:voice_actor] || '' %></div><div class="preliminaryranking">Preliminary Ranking: <%= r[:preliminary_rank] || '' %></div><div class="firstroundranking">Round 1 Ranking: <%= r[:round_1_vote_rank] || '' %> (<%= r[:round_1_votes] || '' %>) / <%= r[:round_1_percentage_rank] || '' %> (<%= r[:round_1_percentage].try(:gsub, /%\Z/, '') || '' %>%)</div><div class="defeated">Defeated By: <%= r[:defeated_by] || '' %></div><div class="defeated">Defeated: <%= r[:defeated].try(:join, ', ') || '' %></div><div class="previousbest">Previous Best: <%= r[:previous_best] || '' %></div><div class="code"><%= "#{r[:character_code] || '*CHARCODE*'}#{r[:series_code] || '*SERIESCODE*'}#{r[:voice_actor_code] || '*VACODE*'}" %></div>
                </td>
            </tr>
        <% end %>
    </table>
    <br /><br />
<% end %>

<br /><br /><br />

<% if result_list %>
    <%= result_list %>
<% end %>

</body>
</html>
