<div class="page-header">
  <div class="row-fluid">
    <div class="span8">
      <h1>Series</h1>
    </div>
    <div class="span4">
      <%= render partial: "shared/autocomplete_box",
                 locals: {placeholder_text: "Search for a series...",
                          source_path: autocomplete_series_index_path,
                          target_path: series_index_path} %>
    </div>
  </div>
</div>

<%= render partial: "shared/alpha_pagination",
           locals: {default_letter: @ap.default_letter, active_letters: @ap.active_letters} %>

<div class="row-fluid">
  <% @ap.get_data.each do |l_data| %>
    <div class="span<%= 12 / @ap.real_no_of_columns %>">
      <% l_data.each do |letter, s_data| %>
        <h3><a name="<%= letter %>" class="anchor"><%= letter %></a></h3>
        <div class="well">
          <% s_data.each do |series| %>
            <p><%= link_to(series.name, series_path(series)) %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
