<div class="row-fluid">
  <div class="span12">
    <h1><%= @series.name %></h1>
  </div>
</div>

<div class="page-header">
  <h2>Characters</h2>
</div>

<% unless @major_chars.empty? %>
  <div class="well">
    <div class="row-fluid">
      <% @major_chars.each do |char_arr| %>
        <div class="span3">
          <% char_arr.each do |character| %>
            <%= character_entry character, false, true %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% unless @cameo_chars.empty? %>
  <div class="page-header">
    <h4>Characters in a cameo role</h4>
  </div>

  <div class="well">
    <div class="row-fluid">
      <% @cameo_chars.each do |char_arr| %>
        <div class="span3">
          <% char_arr.each do |character| %>
              <%= character_entry character %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="page-header">
  <h2>Tournament History</h2>
</div>

<dl class="dl-horizontal">
  <% @series.tournament_history.each do |t, th| %>
    <dt>
      <h3><%= t.year %></h3>
    </dt>
    <dd>
      <%= format_history_tournament_buttons t, th %>
    </dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to 'Series index', series_index_path, class: 'btn' %>
</div>
