<% content_for :title do -%>
  <%= @series.name %> | Saimoe
<% end -%>
<div class="row-fluid">
  <% if @series.image? %>
    <div class="span2" style="text-align: center; margin: 10px 0;">
      <%= image_tag @series.image_url(:normal), size: '200x200' %>
    </div>
    <div class="span10">
  <% else %>
    <div class="span12">
  <% end %>
    <h1><%= @series.name %></h1>
  </div>
</div>

<div class="page-header"<%= " style=\"border-bottom: 1px solid ##{@series.color_code}\"".html_safe if @series.color_code %>>
  <h2>Characters</h2>
</div>

<% unless @major_chars.empty? %>
  <div class="well">
    <div class="row-fluid">
      <% @major_chars.each do |char_arr| %>
        <div class="span3">
          <%= render partial: 'view_models/character_entry',
                     collection: char_arr,
                     as: :vm %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% unless @cameo_chars.empty? %>
  <div class="page-header"<%= " style=\"border-bottom: 1px solid ##{@series.color_code}\"".html_safe if @series.color_code %>>
    <h4>Characters in a cameo role</h4>
  </div>

  <div class="well">
    <div class="row-fluid">
      <% @cameo_chars.each do |char_arr| %>
        <div class="span3">
          <%= render partial: 'view_models/character_entry',
                     collection: char_arr,
                     as: :vm %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="page-header"<%= " style=\"border-bottom: 1px solid ##{@series.color_code}\"".html_safe if @series.color_code %>>
  <h2>Statistics</h2>
</div>

<% number_of_current_stats_columns = [@current_win_stats, @current_appearance_stats, @current_vote_stats].reject {|s| s.nil? || s.empty? }.size %>

<% if number_of_current_stats_columns > 0 %>
  <div class="row-fluid">
    <% unless @current_win_stats.empty? %>
      <div class="span<%= 12 / number_of_current_stats_columns %>">
        <h4>
          Total match wins in Saimoe <%= @tournament.year %><br />
          &nbsp;
        </h4>
        <%= render partial: 'view_models/statistics_list',
                   object: @current_win_stats,
                   as: :vm %>
      </div>
    <% end %>
    <% unless @current_appearance_stats.empty? %>
      <div class="span<%= 12 / number_of_current_stats_columns %>">
        <h4>
          Total matches participated in Saimoe <%= @tournament.year %><br />
          &nbsp;
        </h4>
        <%= render partial: 'view_models/statistics_list',
                   object: @current_appearance_stats,
                   as: :vm %>
      </div>
    <% end %>
    <% unless @current_vote_stats.empty? %>
      <div class="span<%= 12 / number_of_current_stats_columns %>">
        <h4>
          Total votes in Saimoe <%= @tournament.year %><br />
          <small>(<%= link_to 'See all', short_tournament_action_path(@tournament.year, :series_by_total_votes) %>)</small>
        </h4>
        <%= render partial: 'view_models/statistics_list',
                   object: @current_vote_stats,
                   as: :vm %>
      </div>
    <% end %>
  </div>
<% end %>

<% number_of_stats_columns = [@win_stats, @appearance_stats, @vote_stats].reject {|s| s.empty? }.size %>

<% if number_of_stats_columns > 0 %>
  <div class="row-fluid">
    <% unless @win_stats.empty? %>
      <div class="span<%= 12 / number_of_stats_columns %>">
        <h4>
          Total match wins<br />
          <small>(<%= link_to 'See all', statistics_by_match_wins_series_index_path %>)</small>
        </h4>
        <%= render partial: 'view_models/statistics_list',
                   object: @win_stats,
                   as: :vm %>
      </div>
    <% end %>
    <% unless @appearance_stats.empty? %>
      <div class="span<%= 12 / number_of_stats_columns %>">
        <h4>
          Total matches participated in<br />
          <small>(<%= link_to 'See all', statistics_by_match_appearances_series_index_path %>)</small>
        </h4>
        <%= render partial: 'view_models/statistics_list',
                   object: @appearance_stats,
                   as: :vm %>
      </div>
    <% end %>
    <% unless @vote_stats.empty? %>
      <div class="span<%= 12 / number_of_stats_columns %>">
        <h4>
          Total votes<br />
          <small>(<%= link_to 'See all', statistics_by_total_votes_series_index_path %>)</small>
        </h4>
        <%= render partial: 'view_models/statistics_list',
                   object: @vote_stats,
                   as: :vm %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="page-header"<%= " style=\"border-bottom: 1px solid ##{@series.color_code}\"".html_safe if @series.color_code %>>
  <h2>Tournament History</h2>
</div>

<%= render partial: 'view_models/tournament_history',
           object: @tournament_history_view_model,
           as: :vm %>

<div class="form-actions">
  <%= link_to 'Series index', series_index_path, class: 'btn' %>
</div>

<% if @series.image? %>
  <p>Series image courtesy of <%= link_to 'Square Anime Folder Icons', 'http://animuandomango.blogspot.co.uk/' %>.</p>
<% end %>